<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Poses

    <a data-toggle="collapse" href="#yogaflow_poses_new_form">
      Add pose
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @yogaflow.poses.each do |pose| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/poses/<%= pose.id %>">
          <%= pose.yogaflow_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_pose_from_yogaflow/<%= pose.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="yogaflow_poses_new_form">
        <!-- New associationcollection form start -->

        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
